<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760172244408-g3ctj6s84fmpvn6aqddj99ijab9prv3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760172244408-g3ctj6s84fmpvn6aqddj99ijab9prv3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDshr2qCO0NRoOkc79iGR2qju1JPNczcvc</string>
	<key>GCM_SENDER_ID</key>
	<string>760172244408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test1.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftuitutorial-9b47e</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftuitutorial-9b47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760172244408:ios:88cad47f5133940cd8734d</string>
</dict>
</plist>